/******************************************************************

** View - Story ** 

******************************************************************/

&.story {

	a.fa {
		width: 300px;
		&:before {
			margin-right: 5px;
		}
	}

	.starwars {
		display: none;
	}

	.starwars.animate {

		section {
			position: absolute;
			top: 45%;
			left: 50%;
			z-index: 1;
		} 

		.intro {
			$intro-width: 15em;
			width: $intro-width;
			margin: 0 0 0 (- $intro-width / 2);
			font-size: 120%;
			font-weight: 400;
			color: rgb(75, 213, 238);
			opacity: 0;
			-webkit-animation: intro 6s ease-out 1s;
			animation: intro 6s ease-out 1s;

			@include breakpoint(desktop) {
				$intro-width: 15em;
				width: $intro-width;
				margin: 0 0 0 (- $intro-width / 2);
				font-size: 200%;
			}
		}

		.logo {
			opacity: 0;
			-webkit-animation: logo 9s ease-out 9s;
			animation: logo 9s ease-out 9s;

			img {
				width: inherit;
			}
		}

		.titles {
			$titles-width: 6em;
			width: $titles-width;
			margin: 0 0 0 (- $titles-width / 2);
			top: auto;
			bottom: 0;
			height: 50em;
			font-size: 350%;
			text-align: justify;
			overflow: hidden;

			@include breakpoint(desktop) {
				$titles-width: 14.65em;
				width: $titles-width;
				margin: 0 0 0 (- $titles-width / 2);
				-webkit-transform-origin: 50% 100%;
				transform-origin: 50% 100%;
				@include transform(perspective(300px) rotateX(25deg));
			}

			p {
				@include rem(font-size, 2);
				color: $colour-accent;

				@include breakpoint(desktop) {
					@include rem(font-size, 3.8);
				}
			}

			> div {
				position: absolute;
				top: 100%;
				-webkit-animation: titles 80s linear 13s;
				animation: titles 80s linear 13s;

				> p {
					margin: 1.35em 0 1.85em 0;
					line-height: 1.35em;

					@include backface-visibility(hidden);
				}
			}
		}
	}

	.post-play {
		display: none;
		margin-left: -200px;
		text-align: center;
		z-index: 9999;

		.grid {
			margin-top: 15%;
		}

		a.btn {
			width: 300px;
			margin-top: 20px;
		}

		a.fa-twitter {
			margin-bottom: 150px;
		}

		a.stories {
			margin-top: 20px;
			display: inline-block;
		}
	}

	a.fa-fast-forward {
		display: none;
		position: absolute;
		top: 20px;
		right: 20px;
		color: rgba(255,255,255,0.5);
		width: auto;
		z-index: 9999;
		&:before {
			margin-right: 5px;
		}
	}

	a.fa-play {
		position: absolute;
		top: 40%;
		left: 50%;
		margin-left: -150px;
		text-align: center;
	}
}