/******************************************************************

 ######   #######  ##        #######  ##     ## ########   ######  
##    ## ##     ## ##       ##     ## ##     ## ##     ## ##    ## 
##       ##     ## ##       ##     ## ##     ## ##     ## ##       
##       ##     ## ##       ##     ## ##     ## ########   ######  
##       ##     ## ##       ##     ## ##     ## ##   ##         ## 
##    ## ##     ## ##       ##     ## ##     ## ##    ##  ##    ## 
 ######   #######  ########  #######   #######  ##     ##  ######  

******************************************************************/

$colour-base: #000;
$colour-primary: #4bd5ee;
$colour-accent: #ff6;

/******************************************************************

########  #######  ##    ## ########  ######  
##       ##     ## ###   ##    ##    ##    ## 
##       ##     ## ####  ##    ##    ##       
######   ##     ## ## ## ##    ##     ######  
##       ##     ## ##  ####    ##          ## 
##       ##     ## ##   ###    ##    ##    ## 
##        #######  ##    ##    ##     ######  

******************************************************************/

$font-primary: 'News Cycle', sans-serif;
$font-secondary: 'News Cycle', sans-serif;
$font-tertiary: serif;
$fa-font-path: '../fonts';

/******************************************************************

 ######  ########  ########  #### ######## ########  ######  
##    ## ##     ## ##     ##  ##     ##    ##       ##    ## 
##       ##     ## ##     ##  ##     ##    ##       ##       
 ######  ########  ########   ##     ##    ######    ######  
      ## ##        ##   ##    ##     ##    ##             ## 
##    ## ##        ##    ##   ##     ##    ##       ##    ## 
 ######  ##        ##     ## ####    ##    ########  ###### 

******************************************************************/

$_icons-layout:smart;
$sprites: sprite-map("_icons/*.png");
$sprites2x: sprite-map("_icons2x/*.png");

/******************************************************************

####  ######   #######  ##    ##  ######  
 ##  ##    ## ##     ## ###   ## ##    ## 
 ##  ##       ##     ## ####  ## ##       
 ##  ##       ##     ## ## ## ##  ######  
 ##  ##       ##     ## ##  ####       ## 
 ##  ##    ## ##     ## ##   ### ##    ## 
####  ######   #######  ##    ##  ######

******************************************************************/

$fa-font-path: "../fonts/";
$fa-css-prefix: icon;


/******************************************************************

##          ###    ##    ##  #######  ##     ## ######## 
##         ## ##    ##  ##  ##     ## ##     ##    ##    
##        ##   ##    ####   ##     ## ##     ##    ##    
##       ##     ##    ##    ##     ## ##     ##    ##    
##       #########    ##    ##     ## ##     ##    ##    
##       ##     ##    ##    ##     ## ##     ##    ##    
######## ##     ##    ##     #######   #######     ##    


******************************************************************/

$grid-columns: 12;
$grid-width: 960px;
$grid-gutter: 10px;

$breakpoints: (
	(phone 		320px)
	(tablet 	680px)
	(desktop 	1170px)
	(extended 	1440px)
);

/******************************************************************

##     ## ####  ######   ######  
###   ###  ##  ##    ## ##    ## 
#### ####  ##  ##       ##       
## ### ##  ##   ######  ##       
##     ##  ##        ## ##       
##     ##  ##  ##    ## ##    ## 
##     ## ####  ######   ######   

******************************************************************/

// Browser prefixes are used within mixins.
// For example utilities/_transitions.scss
$prefixes: ("-webkit-", "-moz-", "-ms-", "-o-", "");



